/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        screenshot: screenshot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN &kp LSHIFT>,
                <&macro_tap>,
                <&kp S>,
                <&macro_release>,
                <&kp LEFT_WIN &kp LSHIFT>;

            label = "SCREENSHOT";
        };

        degree: degree {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_0 &kp KP_NUMBER_1 &kp KP_NUMBER_7 &kp KP_NUMBER_6>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "DEGREE";
        };

        macro_1: macro_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N6 &kp N0 &kp N1 &kp N7 &kp N1 &kp N5 &kp N7 &kp N5>;
            label = "MACRO_1";
        };

        macro_2: macro_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(S) &kp U &kp M &kp M &kp E &kp R &kp N2 &kp N0 &kp N2 &kp N5 &kp ENTER>;
            label = "MACRO_2";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        ABC {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "ABC";
            bindings = <
&trans  &kp SQT   &kp COMMA  &kp DOT     &kp P      &kp Y       &kp F  &kp G  &kp C      &kp R  &kp L  &trans
&trans  &kp A     &kp O      &kp E       &kp U      &kp I       &kp D  &kp H  &kp T      &kp N  &kp S  &trans
&trans  &kp SEMI  &kp Q      &kp J       &kp K      &kp X       &kp B  &kp M  &kp W      &kp V  &kp Z  &trans
                             &kp LSHIFT  &kp LCTRL  &kp LALT    &mo 2  &mo 1  &kp SPACE
            >;
        };

        NUM {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "NUM";
            bindings = <
&trans  &kp EXCLAMATION  &kp AT_SIGN     &kp POUND        &kp DOLLAR            &kp PERCENT              &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp BSLH   &kp BACKSPACE  &trans
&trans  &kp CARET        &kp AMPERSAND   &kp ASTERISK     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp FSLH   &kp EQUAL      &trans
&trans  &kp GRAVE        &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp LEFT_BRACKET      &kp RIGHT_BRACKET        &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp MINUS  &kp ENTER      &trans
                                         &kp LSHIFT       &kp LCTRL             &degree                  &kp KP_DOT       &trans           &kp KP_NUMBER_0
            >;
        };

        NAV {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "NAV";
            bindings = <
&trans  &kp ESC    &kp HOME      &kp UP      &kp END    &kp PG_UP      &kp F7  &kp F8  &kp F9     &kp F10   &kp BACKSPACE  &trans
&trans  &kp TAB    &kp LEFT      &kp DOWN    &kp RIGHT  &kp PG_DN      &kp F4  &kp F5  &kp F6     &macro_1  &kp DEL        &trans
&trans  &kp LCTRL  &kp LEFT_WIN  &kp LALT    &kp F11    &kp F12        &kp F1  &kp F2  &kp F3     &macro_2  &kp ENTER      &trans
                                 &kp LSHIFT  &kp LCTRL  &screenshot    &trans  &mo 3   &kp SPACE
            >;
        };

        MED {
            display-name = "MED";
            bindings = <
&trans  &trans  &kp C_MUTE  &kp C_VOL_DN      &kp C_VOL_UP  &kp C_BRIGHTNESS_INC    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp C_PREV  &kp C_PLAY_PAUSE  &kp C_NEXT    &kp C_BRIGHTNESS_DEC    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans      &trans            &trans        &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                            &trans            &trans        &trans                  &trans  &trans  &trans
            >;
        };
    };
};
